<!doctype html>

<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Economica|Lusitana&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="./css/style.css">

  <style>
  .centered {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: white;
  }
  </style>
</head>
<body>
<div class="container-fluid">
  <p id="top">
  <!-- NavBar - Bootstrap Control -->
  <nav class="navbar navsbav bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">{{title}}</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link{{navbar_index_disable}}" href="./index.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{{navbar_resume_disable}}" href="./resume.html">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{{navbar_blog_disable}}" href="./blog.html">Blog</a>
        </li>
     </ul>
    </div>
  </nav>

    <!-- Carousel - Bootstrap Control -->
    <div id="demo" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item{{corousel_index_active}}">
          <img src="./img/about.png" alt="About">
          <div class="centered">
            <div class="row">
              <h1>WHO AM I</h1>
            </div>
            <div class="row">
              <h3>Husband - Father - Gentleman</h3>
            </div>
            <div class="row">
              <a href="./index.html">Show Me</a>
            </div>
          </div>
        </div>
        <div class="carousel-item{{corousel_resume_active}}">
            <img src="./img/resume.png" alt="Resume">
            <div class="centered">
              <div class="row">
                <h1>MY WORK</h1>
              </div>
              <div class="row">
                <h3>Dedicated - Hard - Smart</h3>
              </div>
              <div class="row">
                <a href="./resume.html">Show Me</a>
              </div>
            </div>
        </div>
        <div class="carousel-item{{corousel_blog_active}}">
          <img src="./img/blog.png" alt="Blog">
          <div class="centered">
            <div class="row">
              <h1>MY THOUGHTS</h1>
            </div>
            <div class="row">
              <h3>Fun - Interesting - Perspective</h3>
            </div>
            <div class="row">
              <a href="./blog.html">Show Me</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon" ></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    <br>
{{content}}
<div class="row footer">
  <div class="col=3">
  </div>
  <div class="col">
    <div class="row">
      <div class="col align_somed_header">
        <a href="#top">
          <img src="./img/up_arrow.jpg" alt="Top" width="30px" height="20px">
        </a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col align_somed_header">
        <h3>Follow Me:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col align_somed_header">
        <img src="./img/linkedin.jpg" height="20px" width="20px" >
        <a href="#" class="footer_link">LinkedIn</a>
      </div>
    </div>
    <div class="row">
      <div class="col align_somed_header">
        <img src="./img/instagram.jpeg" height="20px" width="20px" >
        <a href="#" class="footer_link">Instagram</a>
      </div>
    </div>
    <div class="row">
      <div class="col align_somed_header">
        <img src="./img/twitter.jpg" height="20px" width="20px" >
        <a href="#" class="footer_link">Twitter</a>
      </div>
    </div>
    <div class="row">
      <div class="col align_somed_header">
        <img src="./img/facebook.jpg" height="20px" width="20px" >
        <a href="#" class="footer_link">Facebook</a>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col=3">
  </div>
</div>
</div>
</body>
</html>
