<!doctype html>

<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Economica|Lusitana&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="./css/style.css">

  <style>
  .centered {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: white;
  }
  </style>
</head>
<body>
<div class="container-fluid">
  <p id="top">
  <!-- NavBar - Bootstrap Control -->
  <nav class="navbar navsbav bg-dark navbar-dark">
    <!-- Brand -->
    {% if title == 'index' %}
      <a class="navbar-brand" href="#">About Me</a>
    {% else %}
      <a class="navbar-brand" href="#">My {{ title|capitalize }}</a>
    {% endif %}

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
      {% for page in pages %}
        <li class="nav-item">
        {% if title == page['page_name'] %}
          {% if page['page_name'] == 'index' %}
            <a class="nav-link{{ navbar_active }}" href="./{{ page['page_name'] }}.html">About Me</a>
          {% else %}
            <a class="nav-link{{ navbar_active }}" href="./{{ page['page_name'] }}.html">My {{ page['page_name']|capitalize }}</a>
          {% endif %}
        {% else %}
          {% if page['page_name'] == 'index' %}
            <a class="nav-link{{ non_active }}" href="./{{ page['page_name'] }}.html">About Me</a>
          {% else %}
            <a class="nav-link{{ non_active }}" href="./{{ page['page_name'] }}.html">My {{ page['page_name']|capitalize }}</a>
          {% endif %}
        {% endif %}
        </li>
      {% endfor %}
        <!-- <li class="nav-item">
          <a class="nav-link{{navbar_resume_action}}" href="./resume.html">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{{navbar_blog_action}}" href="./blog.html">Blog</a>
        </li> -->
     </ul>
    </div>
  </nav>

    <!-- Carousel - Bootstrap Control -->
    <div id="demo" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      <!-- The slideshow -->
      <div class="carousel-inner">
        {% for page in pages %}
          {% if title == page['page_name'] %}
            <div class="carousel-item{{ carousel_active }}">
          {% else %}
            <div class="carousel-item{{ non_active }}">
          {% endif %}
            {% if page['page_name'] == 'index' %}
              <img src="./img/about.png" alt="About Me">
            {% else %}
              <img src="./img/{{ page['page_name'] }}.png" alt="{{ page['page_name']|capitalize }}">
            {% endif %}
              <div class="centered">
                <div class="row">
                  <h1>{{ page['carousel']['carousel_header'] }}</h1>
                </div>
                <div class="row">
                  <h3>{{ page['carousel']['carousel_desc'] }}</h3>
                </div>
                <div class="row">
                  {% if title == page['page_name'] %}
                    <a href="{{ bottom_link }}">Show Me Now</a>
                  {% else %}
                    <a href="./{{ page['page_name'] }}.html">Show Me</a>
                  {% endif %}
                </div>
              </div>
          </div>
        {% endfor %}
        <!-- <div class="carousel-item{{carousel_index_action}}">
          <img src="./img/about.png" alt="About">
          <div class="centered">
            <div class="row">
              <h1>WHO AM I</h1>
            </div>
            <div class="row">
              <h3>Husband - Father - Gentleman</h3>
            </div>
            <div class="row">
              <a href="{{carousel_link_index_action}}">{{carousel_link_verbiage_index_action}}</a>
            </div>
          </div>
        </div>
        <div class="carousel-item{{carousel_resume_action}}">
            <img src="./img/resume.png" alt="Resume">
            <div class="centered">
              <div class="row">
                <h1>MY WORK</h1>
              </div>
              <div class="row">
                <h3>Dedicated - Hard - Smart</h3>
              </div>
              <div class="row">
                <a href="{{carousel_link_resume_action}}">{{carousel_link_verbiage_resume_action}}</a>
              </div>
            </div>
        </div>
        <div class="carousel-item{{carousel_blog_action}}">
          <img src="./img/blog.png" alt="Blog">
          <div class="centered">
            <div class="row">
              <h1>MY THOUGHTS</h1>
            </div>
            <div class="row">
              <h3>Fun - Interesting - Perspective</h3>
            </div>
            <div class="row">
              <a href="{{carousel_link_blog_action}}">{{carousel_link_verbiage_blog_action}}</a>
            </div>
          </div>
        </div> -->
      </div>
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon" ></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    <br>
{{ content }}
<div class="row footer">
  <div class="col=3">
  </div>
  <div class="col">
    <div class="row">
      <div class="col align_somed_header">
        <a href="#top">
          <img src="./img/up_arrow.jpg" alt="Top" width="30px" height="20px">
        </a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col align_somed_header">
        <h3>Follow Me:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col align_somed_header">
        <img src="./img/linkedin.jpg" height="20px" width="20px" >
        <a href="#" class="footer_link">LinkedIn</a>
      </div>
    </div>
    <div class="row">
      <div class="col align_somed_header">
        <img src="./img/instagram.jpeg" height="20px" width="20px" >
        <a href="#" class="footer_link">Instagram</a>
      </div>
    </div>
    <div class="row">
      <div class="col align_somed_header">
        <img src="./img/twitter.jpg" height="20px" width="20px" >
        <a href="#" class="footer_link">Twitter</a>
      </div>
    </div>
    <div class="row">
      <div class="col align_somed_header">
        <img src="./img/facebook.jpg" height="20px" width="20px" >
        <a href="#" class="footer_link">Facebook</a>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col=3">
  </div>
</div>
</div>
</body>
</html>
