<div class="row footer">
  <div class="col=3">
  </div>
  <div class="col">
    <div class="row">
      <div class="col align_somed_header">
        <a href="#top">
          <img src="./img/up_arrow.jpg" alt="Top" width="30px" height="20px">
        </a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col align_somed_header">
        <h3>Follow Me:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col align_somed_header">
        <img src="./img/linkedin.jpg" height="20px" width="20px" >
        <a href="#" class="footer_link">LinkedIn</a>
      </div>
    </div>
    <div class="row">
      <div class="col align_somed_header">
        <img src="./img/instagram.jpeg" height="20px" width="20px" >
        <a href="#" class="footer_link">Instagram</a>
      </div>
    </div>
    <div class="row">
      <div class="col align_somed_header">
        <img src="./img/twitter.jpg" height="20px" width="20px" >
        <a href="#" class="footer_link">Twitter</a>
      </div>
    </div>
    <div class="row">
      <div class="col align_somed_header">
        <img src="./img/facebook.jpg" height="20px" width="20px" >
        <a href="#" class="footer_link">Facebook</a>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col=3">
  </div>
</div>
</div>
</body>
</html>
